/* Header */
.header-wrapper {
    height: fit-content ;
    background-color: #2c2e3d;
    color: #99a9b5;
}

.inner {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 1.4rem;
}

.header-logo, .options {
    width: 20%;
    max-width: 20%;
    cursor: pointer;
    justify-content: center;
}

.header-navigate {
    width: 60%;
    max-width: 60%;
}

.header-navs, .header-logo {
    display: flex;
}

.header-nav {
    padding: 4px 20px;
    text-transform: uppercase;
}

.header-nav:hover {
    color: #00bcd4;
    cursor: pointer;
}

.is-active:hover {
    color: #fff;
    cursor: default;
}

.is-sticky .is-active {
    color: #000;
    border: #000 1px solid;
}

.is-active {
    border: #fff 1px solid;
    color: #fff;
    transform: scale(1.1);
}

.is-sticky {
    background-color: #fff;
}

.header-options {
    display: flex;
    align-items: center;
    margin-left: 24px;
    gap: 20px;
}

.language {
    width: 24px;
    height: 12px;
    display: flex;
}

.flag-img {
    width: 100%;
    height: 100%;
}

.header-languages, .header-search, .header-cart, .signup {
    cursor: pointer;
}

.header-cart {
    position: relative;
}

.cart-num {
    width: 16px;
    height: 12px;
    background-color: #00bcd4;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    right: -30px;
    top: 6px;
    text-align: center;
    line-height: 12px;
}

.cart-num::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 16px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 12px solid #00bcd4;
    border-bottom: 6px solid transparent;
}

.mobile-header, .mobile-cart, .header-nav__icon, .mobile-navs__container     {
    display: none;
}

.dis-none {
    display: none !important;
}

.dis-block {
    display: block !important;
}


@media only screen and (max-width: 480px) {
    .slider-right-arrow, .slider-left-arrow {
        display: none;
    }
}

/* CONTAINER */

/* Slider */

.slider-wrapper {
    height: fit-content ;
    color: white;
    position: relative;
    background-color: #2c2e3d;
}

.slider-wrapper .inner {
    padding: 40px 20px;
}

.slider-list {
    display: flex;
}

.slide-active {
    display: block !important;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slider-item {
    display: none;
}

.slider-header {
    color: #00bcd4;
    margin-top: 60px;
    letter-spacing: -5.5px;
}

.slider-header, .slider-title, .slider-descript {
    text-align: center;
}

.slider-descript {
    font-size: 1.9rem;
    font-weight: 300;
}

.slider-title, .slider-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    font-weight: 200;
}

.slider-title {
    letter-spacing: 3.5px;
}

.slider-title, .slider-btns {
    margin: 40px 0;
    text-transform: uppercase;
}

.slider-btns, .slider-dots {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.slider-btn, .slider-second-btn {
    font-family: 'Montserrat', sans-serif;
    width: 226px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: 700;
}

.slider-second-btn { 
    color: #00bcd4;
    border-color: #00bcd4;
}

.slider-left-arrow, .slider-right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4.8rem;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #212331;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.slider-left-arrow:hover, .slider-right-arrow:hover {
    background-color: #00bcd4;
}

.slider-left-arrow {
    left: 0;
}

.slider-right-arrow {
    right: 0;
}

.slider-dots {
    padding-bottom: 40px;
}

.slider-dot {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 999px;
    cursor: pointer;
}

.slider-dot-active {
    background-color: #00bcd4;
}



@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


/* HOME */

.home-course-section {
    margin-top: 60px;
    width: 100%;
}

.home-item .is-line-through {
    color: #a9b7c0;
}

.home-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 200;
}

.descript {
    font-size: 1.6rem;
}

.home-header-2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 20px;
    position: relative;
    /* border-bottom: 3px solid #000; */
}

.home-header-2::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid aqua;
    width: 60px;
    display: block;
    right: 38%;
    transition: all 0.4s linear;
    bottom: -30%;
}

.home-item-2:hover .home-header-2::after {
    transform: scaleX(2);
}

.home-item-2:hover .home-sub-header {
    display: block;
}

.home-sub-header {
    font-size: 1.4rem;
    color: #5a6b79;
    font-weight: 300;
    text-transform: none;
    display: none;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.home-item-2:hover .home-header-2 {
    color: #fff;
}

.home-body {
    margin-top: 100px;
}

.home-section-1 {
    background-color: #f0f3f2;
}

.home-section-1, .home-section-2 {
    display: flex;
    height: fit-content;

}

.home-section-2 {
    margin-top: 100px;
    justify-content: space-between;
}

.home-item-2:hover .is-line-through {
    color: #444c56;
}

.is-line-through {
    text-decoration: line-through;
}

.home-item {
    width: 25%;
}

.home-item:hover .home-sub__body {
    visibility: visible;
}

.home-item:hover {
    background-color: #fff;
}

.home-item-2 {
    width: 261px;
    border-radius: 55px;
    margin-bottom: 40px;
    height: 750px;
}

.home-item-2:hover {
    background-color: #393d50;
}

.home-item-2:hover ul {
    color: #99a9b5;
}

.home-item, .home-item-2 {
    position: relative;
    text-align: center;
    border: #acabab solid 1px;
    background-color: #f0f3f2;
    transition: all 0.4s ease-in-out;
}

.home-item:hover, .home-item-2:hover {
    transform: scaleY(1.06);
    cursor: pointer;
}

.home-item-2 .new-tag {
    left: 16%;
    top: -3.2%;
}

.home-item-2 .is-line-through {
    color: #99a9b5;
}

.home-item-2:hover .home-section-1__btn {
    background-color: #27E1C1;
}

.home-item:hover .home-section-1__btn {
    background-color: #83bce9;
}


.home-title {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 200;
    letter-spacing: 1.2px;
}

.home-price, .home-title {
    padding: 24px 0;
    font-weight: 300;
}

.sub-home-title {
    font-size: 1.6rem;
    color: #bbc6ce;
    display: none;
}

.home-item:hover .sub-home-title {
    display: block;
    text-transform: none;
}

.sub-title-2 {
    display: none;
}

.home-item-2:hover .title-2 {
    display: none;
}

.home-item-2:hover .sub-title-2
 {
    display: block !important;
    font-size: 2.4rem;
    text-transform: none;
    color: #fff;
}

.home-item-2:hover .home-sub__descipt {
    color: #5a6b79;
}

.home-item:hover .home-sub__descipt {
    color: #bbc6ce;
}

.home-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 6.5rem;
    font-weight: 200;
    color: white;
    line-height: 25px;
    height: 150px;
    padding-top: 52px;
}

.home-sub__text, .home-sub__text-2 {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.home-sub__text-2 {
    color: #27E1C1;
    width: 100%;
    font-size: 2rem;
    text-transform: lowercase;
}

.first {
    background-color: #a6e557;
}

.home-price-2 {
    width: 150px;
    height: 150px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 4rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    justify-content: center;
    border-radius: 999px;
}

.home-price__num {
    display: flex;
    align-items: flex-end;
    font-weight: 200;
}

.second {
    background-color: #7ee0bf;
}

.third {
    background-color: #83bce9;
}

.fourth {
    background-color: #a289e8;
}

.home-sub__content {
    min-height: 60px;
    height: fit-content;
    padding: 12px 0;
}

.home-sub__body {
    visibility: hidden;
}

.home-sub__descipt {
    opacity: 0.7;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.home-content__item {
    padding: 12px 0;
    border-top: #acabab solid 1px;
}

.home-section-1__btn {
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
    background-color: #2c2e3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    width: 120px;
    height: 40px;
}

.home-section-1__btn span {
    padding-left: 8px;
}

.section-2 {
    margin-top: 100px;
    justify-content: space-between;
    background-color: #fff;
}

.home-content__item-2 {
    padding: 12px 0;
    font-size: 1.6rem;
    color: #5f727f;
}

.home-item .new-tag {
    background-color: #393d50;
}

.new-tag {
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    height: 50px;
    background-color: rgb(185, 33, 33);
    font-size: 1.2rem;
    color: #fff;
    line-height: 50px;
    border-radius: 999px;
    position: absolute;
    top: -4%;
    left: 20%;
    font-weight: 700;
}

.home-section-2__btn {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 0;
}

/* FOOTER */

.footer-wrapper {
    margin-top: 80px;
    background-color: #2c2e3d;
    padding-top: 80px;
    color: #717c89;
    font-size: 1.3rem;
}

.footer-wrapper > .inner {
    display: block;
    padding-bottom: 80px;
}

.footer-section {
    width: 22%;
}

#footer .logo {
    margin-bottom: 12px;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #fff;
    width: fit-content;
    position: relative;
}

.footer-title:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent transparent #f50057 transparent;
    right: -12px;
    top: 13px;
    position: absolute;
  }

.website {
    padding: 0 4px;
}

.top-para {
    margin-top: 0;
}

.footer-address {
    border-bottom: 1px dashed #5f727f;
    padding-bottom: 16px;
    width: 100%;
    margin-bottom: 4px;
}

.footer-recent-item {
    display: flex;
    height: 90px;
    align-items: center;
    border-bottom: 1px dashed #5f727f;
}

.footer-recent-img {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-color: #ccc;
    margin-right: 8px;
}

.footer-recent-content {
    max-width: calc(100% - 78px);
}

.footer-recent-img:hover {
    background-color: #99a9b5;
}

.footer-recent-title {
    max-height: 32px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    line-height: 16px;
    overflow: hidden;
}

.footer-item {
    margin-top: 8px;
}

.footer-status {
    display: flex;
    justify-content: space-between;
}

.footer-comment-num span {
    padding-left: 8px;
}

.footer-name, .footer-email, .footer-comment {
    position: relative;
}

.footer-name, .footer-email, .letter {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
}

.letter {
    position: relative;
}

.letter-input {
    width: 100%;
    height: 100%;
    padding: 4px 44px 4px 12px;
    background-color: #1b1c25;
    margin: 12px 0;
    color: #fff;
}

.footer-comment {
    height: 70px;
}

.letter-icon {
    position: absolute;
    right: 0;
    top: 80%;
    height: 40px;
    width: 40px;
    background-color: #ccc;
    font-size: 2.2rem;
    transform: translateY(-50%);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.letter-icon:hover {
    background-color: #99a9b5   ;
}

.footer-contact-input {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #1b1c25;
    padding: 0 8px;
    border: none;
}

.footer-input-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.footer-feed-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-between
}

.footer-feed-item {
    width: 29%;
    padding-bottom: 29%;
    float: left;
    background: #ccc;
}

@-webkit-keyframes jello-diagonal-1 {
    0% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
    30% {
      -webkit-transform: skew(25deg 25deg);
              transform: skew(25deg 25deg);
    }
    40% {
      -webkit-transform: skew(-15deg, -15deg);
              transform: skew(-15deg, -15deg);
    }
    50% {
      -webkit-transform: skew(15deg, 15deg);
              transform: skew(15deg, 15deg);
    }
    65% {
      -webkit-transform: skew(-5deg, -5deg);
              transform: skew(-5deg, -5deg);
    }
    75% {
      -webkit-transform: skew(5deg, 5deg);
              transform: skew(5deg, 5deg);
    }
    100% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
  }
  @keyframes jello-diagonal-1 {
    0% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
    30% {
      -webkit-transform: skew(25deg 25deg);
              transform: skew(25deg 25deg);
    }
    40% {
      -webkit-transform: skew(-15deg, -15deg);
              transform: skew(-15deg, -15deg);
    }
    50% {
      -webkit-transform: skew(15deg, 15deg);
              transform: skew(15deg, 15deg);
    }
    65% {
      -webkit-transform: skew(-5deg, -5deg);
              transform: skew(-5deg, -5deg);
    }
    75% {
      -webkit-transform: skew(5deg, 5deg);
              transform: skew(5deg, 5deg);
    }
    100% {
      -webkit-transform: skew(0deg 0deg);
              transform: skew(0deg 0deg);
    }
  }

.footer-feed-item:hover {
    background-color: rgba(0,188,212,.8);
    cursor: pointer;
    -webkit-animation: jello-diagonal-1 0.8s both;
	        animation: jello-diagonal-1 0.8s both;
}

.footer-bottom {
    background-color: #181828;
}

.bottom-body {
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-item {
    display: flex;
    gap: 12px;
    margin-top: 8px;
    flex-wrap: wrap;
    align-items: center;
}

.bottom-nav {
    padding: 0 12px;
    cursor: pointer;
    border-right: 2px solid #333146;
}

.bottom-nav:last-child {
    border-right: none;
}

.bottom-icon {
    font-size: 1.6rem;
    cursor: pointer;
}

.footer-status-date {
    color: aqua;
}

.form-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    width: 100%;
    background-color: #393d50;
    padding: 12px 0;
    margin-top: 20px;
    color: #99a9b5;
}

.dot-active-2 {
    background-color: #99a9b5 !important;
    opacity: 1;
}

.useful-body li::before{
  content: "\2022";
  color: #00bcd4;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.useful-item {
    font-size: 1.6rem;
    padding: 6px 0;
    border-top: 1px dashed #5f727f;
    text-transform: capitalize;
}

.useful-item:hover {
    color: #00bcd4;
    cursor: pointer;
}

.useful-item:hover::before {
    color: #fff;
}

.useful-item:first-child {
    border-top: none;
    padding-top: 0;
}

.form-btn:hover {
    background-color: #5f727f;
    cursor: pointer;
    color: #fff;
}


.footer-link {
    cursor: pointer;
    color: #00bcd4;
}

.project-body {
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.project-active {
    display: flex !important;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.project-body .project-items {
    display: none;
}

.project-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.project-dot {
    width: 16px;
    height: 16px;
    border-radius: 999px;
    background-color: #394050;
    opacity: 0.6;
    cursor: pointer;
}

.footer-part {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  /* MODAL */

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,.3);
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: fit-content;
    transform: translateY(-50%) translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.8rem;
}

.signup-form {
    padding: 40px;
}

.signup-header__title {
    color: #1b1c25;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 24px;
}

.signup-header__title, .signup-header__icon {
    margin: 0 auto;
    font-size: 3.2rem;
    text-align: center;
}

.signup-header__icon {
    background-color: #00bcd4;
    color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 999px;
    line-height: 80px;
}

.form-input__container {
    margin-top: 12px;
}

.form-input {
    width: 100%;
    height: 60px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.invalid .form-input {
    border-color: red;
}

.input-message {
    font-size: 1.2rem;
    color: red;
    padding: 0 12px;
}

#signup .form-btn {
    text-align: center;
    background-color: #00bcd4;
    border-radius: 8px;
}

.form-submit {
    color: #fff;
    background-color: #00bcd4;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 24px;
    border-radius: 8px;
    cursor: pointer;
}

.form-input:focus {
    outline: 1px solid #00bcd4;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.footer-text {
    color: #00bcd4;
    cursor: pointer;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 300px;
  max-width: 350px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast-icon {
  color: #47d864;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast-icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast-icon {
  font-size: 24px;
}

.toast-icon,
.toast-close {
  padding: 0 16px;
}

.toast-body {
  flex-grow: 1;
}

.toast-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast-msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast-close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: not-allowed;
}

@media screen
and (min-width: 980px) 
and (max-width: 1200px) {
    /* Header */

    #header .inner {
        display: block;
        max-width: 930px;
        margin: 0 auto;
        text-align: center;
    }

    .inner {
        width: 90%;
    }

    .header-logo {
        width: 100%;
        margin: 0 auto;
        padding: 12px 0;
        /* justify-content: center; */
        align-items: center;
    }

    .header-navigate {
       display: inline-block;
    }

    .header-options {
       margin-left: 72px;
    }

    .signup {
        display: none;
    }

    .header-options, .header-languages, .header-search ,.header-cart {
       display: inline-block;
       line-height: 30px;
       padding: 0 6px;
    }

    .cart-num {
        top: 29%;
    }

    .footer-feed-item {
        width: 28%;
        padding-bottom: 28%;
    }
}

@media screen and (max-width: 979px) {

    /* HEADER */

    .header-wrapper .inner {
        justify-content: space-between;
        max-width: 90%;
        padding: 12px 0;
        font-size: 2.2rem;
    }


    .header-navigate, .header-options {
        display: none;
    }

    .mobile-header, .mobile-cart, .header-nav__icon {
        display: block;
    }


    .mobile-navs__container {
        position: absolute;
        inset: 0;
        z-index: 9;
        background-color: #fff;
    }

    .mobile-navs__header {
        height: 75px;
    }

    .mobile-search {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 15px 30px 20px;
    }

    .mobile-search__input {
        background-color: #f4f6f7;
        width: 95%;
        height: 100%;
        padding: 0 40px 0 10px;
        border-radius: 4px;
        /* position: relative; */
    }

    .mobile-search-icon {
        position: absolute;
        top: 50%;
        right: 9.5%;
        transform: translateY(-60%);
        font-size: 1.6rem;
        cursor: pointer;
    }

    .mobile-navs__body {
        background-color: #dfe5e8;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        padding: 10px 30px;
    }

    .is-active {
        transform: scale(1);
        color: #000;
        border: none;
    }

    .header-nav:hover {
        color: #000;
    }

    .mobile-close {
        position: absolute;
        font-size: 3.5rem;
        top: 9px;
        right: 23px;
        color: #000;
        cursor: pointer;
    }

    /* SLIDER */

    .slider-wrapper .inner,
    #home .inner,
    #footer .inner {
        max-width: 90%;
        width: 90%;
        flex-wrap: wrap;
    }

    .slider-header {
        margin-top: 0;
    }

    .slider-list {
        width: 100%;
    }

    .slider-btn, .slider-second-btn {
        width: fit-content;
        padding: 0 12px;
        font-size: 1.4rem;
    }

    .slider-right-arrow, .slider-left-arrow {
        width: 40px;
        height: 40px;
        font-size: 2.4rem;
        line-height: 40px;
    }

    .home-section-1, .home-section-2 {
        flex-wrap: wrap;
        justify-content: center;
        background-color: #fff;
    }

    .home-item {
        width: 300px;
        margin-top: 60px;
        background-color: #f0f3f2;
    }

    .home-item-2 + .home-item-2 {
        margin-left: 16px;
    }

    .footer-section {
        width: 46%;
    }

    .bottom-item {
        width: 100%;
    }

    .bottom-body {
        flex-wrap: wrap;
        height: fit-content;
        flex-direction: column-reverse;
    }

    .bottom-item {
        justify-content: center;
        margin: 20px 0;
    }

    .bottom-nav {
        padding: 0 8px;
    }

}

@media screen and (max-width: 765px) {
    /* .header-logo {
        justify-content: center;
    } */

    .slider-title {
        font-size: 3rem;
    }

    .home-header {
        font-size: 4rem;
    }

    .home-body {
        margin-top: 0;
    }

    .footer-section {
        width: 100%;
    }

    .useful-body {
        padding: 0 8px;
    }

    .mobile-search__input {
        width: 90%;
    }

    .mobile-search-icon {
        right: 18%;
    }

    .slider-btn, .slider-second-btn {
        font-size: 1.2rem;
    }

    .top-para {
        margin-top: 20px;
    }
}